/* Default Css HEre */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none !important;
    display: inline-block !important;
}

span,i{
    display: inline-block !important;
}

/* Clearfix For Flotin Items */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

/* Container With Define for all content */
.container{
    max-width: 1150px !important;
    margin: 0px auto !important;
}

/* Flot Property css  */
.left{
    float: left;
}

.right{
    float: right;
}

/* img default */
img{
    max-width: 100%;
}


/* Site Css Start NOw */

/* Header Section Css Start HEre */

.header-section{
    background-color: #f5deb3;
}

.header-logo{
    width: 30%;
}
.header-logo img {
	width: 108px;
	margin-top: 8px;
	cursor: pointer;
}

.header-menu{
    width: 70%;
}
.header-menu .menu ul{
    list-style: none;
    text-align: right;
}
.header-menu .menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-menu .menu ul li a {
	padding: 24px 20px;
	color: rgb(255, 255, 255);
    transition: .4s;
    border-right: 1px solid #fafafa;
}
.header-menu .menu ul li a:hover{
    background-color: red;
    color: #fff;
}

/* Banner Section Css Staaart Here */

.banner-section{
    text-align: center;
    background-image: url(./image/intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
}

.banner-content{
    color: #3198db ;
}

.banner-content h6{
    font-size: 20px;
    margin-bottom: 20px;
}
.banner-content h4{
    font-size: 30px;
}

/* About Section Css Start HEre */


.about-section{
    padding: 60px 0px !important;
    
}

.about-content .about-img{
    width:25%;
    padding-left: 40px;
    margin-right: 50px;
}
.about-content .about-text{
    width: 65%;
    margin-left: 50px;
    
}

.about-content .about-text h4{
    font-size: 24px;
    margin-bottom: 15px;
}
.about-content .about-text h6{
    font-size: 19px;
    margin-bottom: 25px;
}
.about-content .about-text p {
	/* padding-right: 145px; */
	line-height: 28px;
}

.service-section{
    padding: 60px 0px;
    background-color: #fffaf0;
}

.service-items .items{
    text-align: center;
    padding: 15px 10px;
    width: 31%;
    border: 2px dotted #ddd;
    border-radius: 50px 0px 50px 0px;
    margin: 10px 16px;
}


.service-items .items:nth-child(3){
    margin-right: 0px;
}

/* items css */

.service-items .items span{
    height: 50px;
    width: 50px;
    border: 1px solid #3498db;
    color: #3498db;
    line-height: 50px;
    border-radius: 20px 0px;
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 20px;
}
.service-items .items h5{
    font-size: 25px;
    margin-bottom: 10px;
}
.service-items .items p{
    padding: 10px 20px;

}

/* Fotter Section Css Here */

.fotter-section{
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0px;
}

.fotter-content .f-left{
    width: 70%;
}


.fotter-content .f-left p{
    margin-bottom: 0px;

}

.fotter-content .f-right{
    width: 30%;
}

.fotter-content .f-right ul{
    list-style: none;
    text-align: right;
}
.fotter-content .f-right ul li{
    display: inline-block;
    margin: 0px 8px;
}
.fotter-content .f-right ul li a{
    color: #fff;
}

.fotter-content .f-right ul li a i{}

